/* styles.css */
body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #0077cc;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.hero-italian-flag {
  background: linear-gradient(to right, #008C45 33.3%, #ffffff 33.3% 66.6%, #CD212A 66.6%);
  color: rgb(255, 255, 255)
}
